* {
    padding: 0px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Common style */
.common-btn{
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px;
    margin: auto; */
    padding: 20px 0px;
}

header{
    background-color: lightblue;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo-r{
    color: #fd6e0a;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}

.hero-parent-root{
    background-color: #fff8f3 ;
}
/* Hero section style */
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;
    margin: auto; */
    background-color: #fff8f3;
}
/* Image size  */
 /* .hero-parent img{
    width: 600px;
    height: auto;
    border-radius: rounded;
} */

img{
    max-width: 100%;
}
.hero-left-p1{
    font-size: 20px;
    font-weight: 600;
}

 .hero-left h2{
    font-weight: bold;
    font-size: 32px;
    margin: 0px;
    margin-bottom: 10px;
 }

 .hero-left-btn-parent{
    margin: 15px;
 }

 /* About us css */

 .about-parent{
    background-color: #fff8f3;
    margin: 70px auto;
    border-radius: 10px;
    padding: 35px;
    text-align: center;
 }

 .about-parent p{
    margin: 10px 0px;
 }

 .about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
 }

 .about-box-parent .box{
    background-color: #f8eae0;
    padding: 5px;
    border-radius: 5px;
 }


 /* What I do section css */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
 }
.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.what-i-do-card-container .what-i-do-card{
    border: 2px solid #fd6e0a;
    padding: 8px;
    border-radius: 12px;
    text-align: left;
}

.what-i-do-card-container .what-i-do-card h2{
    margin: 12px 0;
}
.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
}